.gi-flexCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.gi-content {
    height: 300px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color: var(--color-black);
    background: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // height: 270px;
    padding: 20px 20px;
}

//more people more impact
.one {
    display: flex;
    flex-direction: column;
    font-size: var(--font-title2);
}

.line-flexCard-vertical {
    display: block;
    border-left: 3px solid black;
    height: 100px;
}

.line-flexCard-horizontal{
    display: none;
}

.three {
    font-size: var(--font-medium);
    padding: 40px 0;
}

.content-item {
    // border: green solid 3px;
    display: flex;
}

//starts work @ smaller than 1280px
@media screen and (max-width: 1280px) {
    .gi-flexCard {
        height: 100%;
    }

    .gi-content {
        
        flex-direction: column;
       justify-content: center;
       align-items: center;
        height: 100%;
    }

    .line-flexCard-vertical {
        display: none;
    }

    .line-flexCard-horizontal{
        display: block;
        border-top: 2px solid black;
        width: 210px;
        margin: 15px 0;
    }
  }