.image-grid-container {
  // border: 5px solid yellow;
  display: flex;
}

.img-container {
  position: relative;
}

.btn-container {
  position: absolute;
  top: 60%;
  left: 4%;
}

.title {
  z-index: 5;
  position: absolute;
  width: 60%;
  color: white;
  padding: 5% 20px;

  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  font-size: 45px;
}

// start @ higher than 1920px
@media screen and (min-width: 1920px) {
  .title {
    font-size: 65px;
  }
}

//starts work @ smaller than 1280px
@media screen and (max-width: 1280px) {
  .title {
    font-size: 30px;
  }
}

//starts work @ smaller than 960px
@media screen and (max-width: 960px) {
  .title {
    font-size: 25px;
  }
}


.image-grid-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translateY(10%);

  // width: 50%; 
  // border: purple solid 4px;
}

//width greater than 1920px
@media screen and (min-width: 1920px) {
  .image-grid-left {
    // width: 40%; 
    
  }
}

.image-grid-left img {
  opacity: 85%;
  width: 100%;
  height: 80%;
  // padding: 50px 0;
}

.image-grid-left button {
  margin-top: 1em;
  width: 100%;
}

//tweakign image sizes
.image-grid-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 0em;
  background-color: #f1f1f1;
}

.image-grid-right h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

.image-grid-right img {
  opacity: 85%;
  width: 100%;
}










// .grid-container {
//     position: relative;

//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-row: span 2;

//     // gap: 10px;
//     padding: 0 200px;
//   }
  
//   .title {
//     grid-column: 1 / -1; /* span across all columns */
//     grid-row: 1 / 2; /* span only the first row */
//     // background-color: #ccc;
//     // text-align: center;
//     position: absolute;
//     font-size: 1.5em;
//     color: white;

//     margin: 120px 0;
//     text-align: left;
//     padding-right: 50%;
//     z-index: 10;
    

//     font-size: 36px;
//     line-height: 1.33em; /* Corresponds to approximately 1.33 times the font size */
//     max-height: 4em; /* Maximum height of three lines of text */
// //   overflow: hidden; /* Hide any additional text that overflows the element */
//   }
  
//   .grid-item {
    
//     background-color: #f1f1f1;
//     // padding: 20px 0;
//     font-size: 1.5em;

//     justify-items: center;

   
    

  
//   }



//   .image-01 {
//     // border: solid red 4px;
   
//   }

//   .image-02 {
//     // border: solid blue 4px;
//     height: 80%;
//     padding: 60px 0;

//   }

// .image-container {
//   position: relative;
//   display: flex;
// }

// .img-style {
//   opacity: 85%;
//   // height: 100%;
//   // width: 100%;

//   flex: 1;
// }

// .btn-style {
//   position: absolute;
//   z-index: 10;
//   top: 45%;
//   right: 72%;
//   transform: translate(-50%, -50%);
// }

 
