.image-container {
  height: 660px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  display: flex;
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px black;
  z-index: 1;
  padding: 200px 0;
  padding-left:30px;
  }

  img {
    max-width: 100%;
    height: auto;
    flex: 1;
    }

 .btn-container {
  z-index: 10;
  // border: blue solid 4px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin: 450px 0;
  // color: yellow;
  padding-left:30px;
  }
  
  .left-img {
  // border: red solid 2px;
  height: 80%;
  width: 100%;
  transform: translateY(13%);
  display: flex;
  }

  .right-img {
    width: 100%;
  }