.involved-p,
.top-grid,
.middle-card,
.end-card {
  margin: 50px 0;
}

.volunteerPic__container {
  text-align: center;
}

@media screen and (max-width: 960px) {
  .involved-p,
  .top-grid,
  .middle-card,
  .end-card {
    margin: 25px 0;
  }
}
