.main-container {
    margin: 100px 166px;
   
}

//fix content ?? 
.top-grid {
    border: solid yellow 5px;
  // width: fit-content;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 
.involved-title {
  color: black;
}