.card-container {
  width: 100%;
  background-repeat: no-repeat;
  height: 40vh;
}

.content {
  color: white;
  padding: 20px 30px;
}

.proj-header {
  padding-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .card-container {
     display: flex;
     flex-direction: row;
  }
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}