.projectCard__container {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
}

.left {
  justify-content: flex-end;
}
.rigth {
  justify-content: flex-start;
}

.projectCard__content {
  width: 40%;
  color: var(--color-white);

  .proj-header {
    color: var(--color-white);
    margin-bottom: 20px;
  }

  p {
    word-wrap: break-word;
    font-weight: 200;
  }
}

@media screen and (max-width: 960px) {
  .projectCard__container {
    margin-top: 0;
    height: 45vh;
    padding: 20px;
    text-align: center;
  }

  .left,
  .rigth {
    justify-content: center;
  }

  .projectCard__content {
    width: 100%;

    .proj-header {
      font-size: var(--font-mobile-title2);
    }

    p {
      font-size: var(--font-mobile-body);
    }
  }
}
