.main {
}

.card-container {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wwd-content {
  color: white;
  padding: 0px 30px;
  width: fit-content;
  max-height: 95%; 
  overflow: auto;
}

.proj-header {
  font-size: var(--font-title);
  padding-bottom: 20px;
}

.proj-p {
  word-wrap: break-word;
}

@media screen and (max-width: 1280px) {
  .card-container {
     display: flex;
     flex-direction: row;
    padding: 0 100px;
  }
  .wwd-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .proj-header {
    // font-size: 3.8rem;
    padding-bottom: 20px;
    text-align: center;
  }
  // .proj-p {
  //   font-size: 1.8rem;
  //   line-height: 1.5;
  //   // color: red;
  // }
}

@media screen and (max-width: 960px) {
  .card-container {
     display: flex;
     flex-direction:row;
     //MUST USE THIS FOR RESET PADDING FOR MOBILE SCREENS!!!!
     padding: 0 0px;
  }
}
