.pagehero {
  height: 226px;
  background-color: black;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.pagehero h1 {
  color: var(--color-white);
  font-size: var(--font-title);
  margin-left: 166px;
}
