.teamcard-container {
  height: 65vh;
  width: 23vw;
  padding: 20px;
  margin: 20px;
  color: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.teamcard-header {
  h4 {
  }
}

.teamcard-footer {
  p {
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.social {
  &-icon {
    width: 0.8em;
    margin-right: 5px;
  }
}

.teamcard__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);

  &-description {
    font-size: var(--font-medium);
    font-weight: 400;
  }

  .social {
    &-icon {
      font-size: var(--font-default-size);
      width: 0.8em;
      margin-right: 5px;

      &:hover {
        color: var(--color-light-blue);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .teamcard-container {
    margin: 10px 0;
    height: 50vh;
    width: 100%;
  }

  .teamcard__hover {
    &-description {
      font-size: var(--font-small) !important;
    }
  }
}
