.page-section {
  display: flex;
  flex-direction: column;
  margin: 100px 166px;

  h2 {
    font-size: var(--font-title2);
  }
  p {
    text-align: justify;
  }
}

.card-section {
  margin-top: 50px;
  padding: 0 80px;
}

@media screen and (max-width: 960px) {
  .page-section {
    margin: 50px;

    h2 {
      font-size: var(--font-mobile-title2);
    }
    p {
      font-size: var(--font-mobile-body);
    }
  }
  .card-section {
    margin-top: 50px;
    padding: 0px;
  }
}
