.resourcesCard-section {
  display: flex;
  margin-top: 50px;
  height: 600px;
}

@media screen and (max-width: 960px) {
  .resourcesCard-section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
