//Sets spacing betweeen each new card added
.card {
    padding: 30px 0;
}

.wwd-title {
  color: var(--color-black);
  font-size: var(--font-title);
}

.description-p {
  padding-bottom: 70px;
}

//top line
.line {
    height: 2px;
    background: black;
    margin: 10px 0;

  }

//bottom line
  .line-2 {
    height: 2px;
    background: black;
  }