.card,
.projects
 {
    margin: 50px 0;

  
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.wwd-title {
  color: var(--color-black);
  font-size: var(--font-title);
}

//top line
.line {
    height: 2px;
    background: black;
    margin: 10px 0;
  }