.longCard {
  height: 168px;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  margin: 100px 80px;
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.longCard h3 {
  font-size: var(--font-title3);
  color: var(--color-white);
}

.longCard-left {
  display: flex;
  justify-content: end;
}

.longCard button {
  width: 125px;
}
