.resourceCard {
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.resourceCard h3 {
  font-size: var(--font-title3);
  color: var(--color-white);
}

.resourceCard-left {
  display: flex;
  justify-content: flex-end;
}

.resourceCard button {
  width: 125px;
}

// TODO: need to get the final design for mobile version
@media screen and (max-width: 960px) {
  .resourceCard {
    height: 40vh;
    margin: 0px;

    &:not(:last-child) {
      margin-right: 0px;
    }
  }
}
