.app__footer {
  margin-top: 50px;
  margin-bottom: 30px;
}

.app__footer-subtract {
  width: 100%;
  height: 229px;
  background-color: var(--color-baby-blue);
  border-radius: 0 0 50% 50%;
}

.app__footer-hero {
  display: flex;
  flex-grow: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 164px;
  margin: -70px auto 85px auto;
  border-radius: 10px;
  background-color: var(--color-drak-blue);
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.3);

  color: var(--color-white);
  font-size: 24px;
  font-weight: 600;
}

.app__footer-copyright {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 80%;

  font-size: 14px;
  color: var(--color-dark);

  p {
    opacity: 0.75;
  }

  img {
    width: 102px;
    margin-left: -40px;
  }

  &-terms {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    p {
      opacity: 1;
    }

    :not(:last-child) {
      margin-right: 22px;
    }
  }
}

.app__footer-links {
  display: flex;
  width: 95%;
  margin: 0 auto 40px auto;
  font-size: var(--font-default-size);
  line-height: 1.57;
  color: var(--color-dark);

  &-left,
  &-right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    div {
      height: 110px;
      margin: 0 auto 40px auto;
    }
  }

  h3 {
    margin-bottom: 10px;
  }

  li {
    list-style: none;
    font-size: var(--font-medium);
  }

  a {
    text-decoration: none;
    color: var(--color-dark);

    &:hover {
      color: var(--color-drak-blue);
      font-weight: 600;
    }
  }
}

.app__footer-line {
  background-color: var(--color-dark);
  width: 80%;
  height: 1px;
  margin: 40px auto;
  opacity: 0.2;
}

@media screen and (max-width: 960px) {
  //======================HALFMOON ELEMENT======================
  .app__footer-subtract {
    height: 130px;
  }

  .app__footer-hero {
    flex-direction: column;
    font-size: var(--font-default-size);
    width: 90%;
    height: 102px;
    margin: -100px auto 40px auto;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .app__footer-links {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;

    &-left,
    &-right {
      div {
        width: 150px;
      }
    }
    li {
      font-size: var(--font-small);
    }
  }

  //======================COPYRIGHT======================
  .app__footer-line {
    margin: 0 auto 20px auto;
    width: 90%;
  }

  .app__footer-copyright {
    flex-direction: column;
    font-size: var(--font-small);

    //change position
    & :nth-child(2) {
      order: 1;
    }
    & :nth-child(1) {
      order: 2;
    }
    & :nth-child(3) {
      order: 3;
      :nth-child(1) {
        order: 1;
      }
    }

    img {
      width: 102px;
      margin: 0 95px 14px;
    }

    p {
      line-height: 1.83;
      margin-bottom: 8px;
    }
  }
}
