@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  /* font */
  --font-base: "Inter", sans-serif;
  --font-default-size: 16px;
  --font-title: 48px;
  --font-title3: 24px;
  --font-medium: 14px;
  --font-small: 12px;

  /* color */
  --color-blue: #2591c3;
  --color-drak-blue: #2774b1;
  --color-dark-blue-2: #184568;
  --color-light-blue: #a5d8ec;
  --color-baby-blue: #f2f9ff;
  --color-black: #04080c;
  --color-almost-white: #fdfefe;
  --color-light-grey: #f1f2f2;
  --color-black: #1f1415;
  --color-gray: #cecfd0;
  --color-dark: #0a142f;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}
